{% extends 'base.html' %}
{% block title %}  
Create Product 
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <h1>Create Product</h1>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('create_product') }}">
            <label for="name">Product Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location"><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>
            <label for="available">Available Date:</label><br>
            <input type="date" id="available" name="available"><br>
            <label for="negotiation">Negotiation:</label><br>
            <input type="checkbox" id="negotiation" name="negotiation"><br>
            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price" step="0.01"><br>
            <label for="image_gallery">Image:</label><br>
            <input type="file" id="image_gallery" name="image_gallery"><br>
            <input type="submit">
        </form>
    </div>
</div>



{% endblock %}
