{% extends 'base.html' %}
{% block title %}  
Sign Up Page 
{% endblock %}

{% block content %}
<section class="position-relative pt-32 pb-36 overflow-hidden" style="background: linear-gradient(98.24deg, #FFFFFF 0%, #F9F9FF 47.4%, #EBECF7 100%)">
    <div class="position-relative container" style="z-index: 50;">
      <div class="row g-16">
        <div class="col-12 col-md-6">
          <div class="mw-md-lg">
            <h2 class="fs-10 mb-3">Join Harvest Hub for free</h2>
            <p class="fs-17 text-muted mb-12">Where freshness meets convenience.</p>
          </div>

          <!-- Flash Messages Section -->
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <div class="flash-messages">
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}" role="alert">
                              {{ message }}
                          </div>
                      {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}

          <form class="mw-md-xl" action="{{ url_for('signup') }}" method="POST">
            <div class="row mb-6 g-4">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="firstname"> First Name</label>
                  <input class="bg-white text-dark px-3 py-2 w-100 border rounded-1" id="firstname" name="firstname" style="border-radius: 3px;" required type="text" placeholder="First name">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="lastname"> Last Name</label>
                  <input class="bg-white text-dark px-3 py-2 w-100 border rounded-1" id="lastname" name="lastname" style="border-radius: 3px;" type="text" placeholder="Last name">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="email"> Email</label>
                  <input class="bg-white text-dark px-3 py-2 w-100 border rounded-1" id="email" name="email" style="border-radius: 3px;" type="email" placeholder="Email address">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input class="bg-white text-dark px-3 py-2 w-100 border rounded-1" id="username" name="username" style="border-radius: 3px;" type="text" placeholder="Unique Username">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="password"> Psssword</label>
                  <input class="bg-white text-dark px-3 py-2 w-100 border rounded-1" id="password" name="password" style="border-radius: 3px;" required type="password" placeholder="Password">
                </div>
              </div>
            </div>

            <div class="form-check mt-1">
              <input class="form-check-input" type="radio" name="role" id="role_supplier" value="supplier">
              <label class="form-check-label" for="role_supplier">
                Supplier
              </label>
            </div>
            <div class="form-check mt-1 mb-1">
              <input class="form-check-input" type="radio" name="role" id="role_customer" value="customer" checked>
              <label class="form-check-label" for="role_customer">
                Consumer
              </label>
            </div>
            <div class="form-check mb-8">
              <input class="form-check-input" id="roles" type="checkbox" value="">
              <label class="fs-19 text-dark form-check-label" for="signUpInput1-5" required>
                <span>I agree to the</span>
                <span class="text-secondary">Terms & Conditions</span>
                <span>Harvest Hub</span>
              </label>
            </div>
            <button class="btn btn-light-light fs-20 px-3 py-3 text-uppercase" type="submit" style="letter-spacing: 1px; background: linear-gradient(98.24deg, #CEE9C1 0%, #83C8DE 100%);">Sign up for free</button>
          </form>

        </div>
      </div>
    </div>
</section>
{% endblock %}
